---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Curriculum" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profilo</div>
  </div>

  <div class="mb-10 text-justify">
    Professionista del settore con oltre 5 anni di esperienza con materiali, eventi dal vivo e set cinematografici. Dotato di
    una lunga lista di successi e di un punto di vista da programmatore, sono sempre pronto a progettare, allestire e guidare
    qualsiasi situazione mi si presenti.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educazione</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Scuole superiori"
      subtitle="Da Settembre 2016 al Giugno 2021 presso Cine-Tv Roberto Rossellini, Roma, Italia - EQF Level 4 - 86/100"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Esperienza</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Fonico di registrazione e Operatore boom"
      subtitle="Da Settembre 2020 al Giugno 2021 presso Cine-Tv Roberto Rossellini, Roma, Italia"
    >
      "<i>Rumon</i>" è un lungometraggio diretto da <b>Angela Gatto</b> e <b>Enzo Civitareale</b>, l'intera troupe era composta da studenti,
      Io e altri 3 studenti ci siamo occupati della parte audio di tutta la produzione.
    </TimeLineElement>
    <TimeLineElement
      title="Fonico di registrazione e Operatore boom"
      subtitle="Da Febbraio 2020 al Luglio 2020 presso Cine-Tv Roberto Rossellini e ITIS Giuseppe Armellini, Roma, Italia"
    >
      "<i>Freddo di Marzo</i>" inizialmente conosciuto come "<i>Il Bruco</i>" è un lungometraggio diretto da <b>Mario Spinocchio</b>
      creato in collaborazione tra Rossellini e ITIS Giuseppe Armellini, Io e altri 3 studenti ci siamo occupati della parte audio di tutta la produzione.
    </TimeLineElement>
    <TimeLineElement
      title="Fonico di sala"
      subtitle="Da Agosto 2018 al Giugno 2021 presso Cine-Tv Roberto Rossellini, Roma, Italia"
    >
      Durante gli ultimi 3 anni di scuola ci sono stati molteplici eventi e ho partecipato come Fonico di sala alla maggior parte,
      le tipologie di eventi sono state concerti, masterclass, conferenze e corsi di aggiornamento.
    </TimeLineElement>
    <TimeLineElement
      title="Tecnico generico"
      subtitle="Da Settembre 2018 al Ottobre 2018 presso Videocittà, Roma, Italia"
    >
      Durante questo periodo mi sono occupato delle apparecchiature VR e sono stato il fonico per alcune presentazioni.
    </TimeLineElement>
    
    <TimeLineElement
      title="Microfonista"
      subtitle="Dal 13 Ottobre 2021 al 23 Ottobre 2021 presso Cine-Tv Roberto Rossellini, Roma, Italia"
    >
      Microfonista principale durante la diretta "<i>Io non rischio</i>" su YouTube e Facebook della Protezione Civile italiana
    </TimeLineElement>
    <TimeLineElement
      title="Fonico di registrazione e Operatore boom"
      subtitle="Da Febbraio 2021 al Marzo 2021 presso ITS Roberto Rossellini, Roma, Italia"
    >
      Gestito registrazione e microfonazione attori per il trailer della scuola
    </TimeLineElement>
    <TimeLineElement
      title="Fonico e tecnico Freelance"
      subtitle="Da Marzo 2022 a Presente presso SP Solution, Roma, Italia"
    >
      Lavoro come uno dei tecnici sotto la cooperativa per eventi in tutta Roma e trasferte in tutta italia, lavorando con diversi
      service, tra cui: Digital Partner, Mondialtecnica, Tecnoconference Europe, Tecnoconference Group etc..
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Lingue</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a>Italiano (nativo)<a>
    </li>
    <li>
      <a>English</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Abilità</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Suono</li>
    <li>PC hardware</li>
    <li>Sistemi operativi</li>
    <li>Programmazione</li>
    <li>Operatore video</li>
    <li>Elettricità</li>
    <li>Montaggio video</li>
    <li>Adobe</li>
    <li>Google</li>
  </ul>
</BaseLayout>
