---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Innovative industry professional with 5+ years of experience with materials, live events and film sets. Equipped with a long list
    of successes and a programmer's point of view, I am always ready to design, set up and lead any situation that comes my way.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="High Schools"
      subtitle="September 2016 to June 2021 at Cine-Tv Roberto Rossellini, Rome, Italy - EQF Level 4 - 86/100"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Set's Sound Engineer and Boom operator"
      subtitle="From September 2020 to June 2021 at Cine-Tv Roberto Rossellini, Rome, Italy"
    >
      "<i>Rumon</i>" is a feature film directed by <b>Angela Gatto</b> and <b>Enzo Civitareale</b> with the entire crew made of school students,
      I and 3 other students were assigned to the sound part of the entire production.
    </TimeLineElement>
    <TimeLineElement
      title="Set's Sound Engineer and Boom operator"
      subtitle="From February 2020 to July 2020 at Cine-Tv Roberto Rossellini and ITIS Giuseppe Armellini, Rome, Italy"
    >
      "<i>Freddo di Marzo</i>" formerly known as "<i>Il Bruco</i>" is a feature film directed by <b>Mario Spinocchio</b> made in collaboration between my school and the
      ITIS Giuseppe Armellini, I and 3 other students were assigned to the sound part of the entire production.
    </TimeLineElement>
    <TimeLineElement
      title="Stage Sound Engineer"
      subtitle="August 2018 to June 2021 at Cine-Tv Roberto Rossellini, Rome, Italy"
    >
      During the last 3 years there have been multiple events inside the school and I partecipated as a Stage Technician in most of them,
      ranging from concerts, masterclass, conferences and refresher courses.
    </TimeLineElement>
    <TimeLineElement
      title="General Technician"
      subtitle="September 2018 to October 2018 at Videocittà, Rome, Italy"
    >
      During this time I took care of VR equipment and I've been the Sound Engineer for some speeches.
    </TimeLineElement>
    
    <TimeLineElement
      title="Microphone Operator"
      subtitle="October 13 2021 to October 23 2021 at Cine-Tv Roberto Rossellini, Rome, Italy"
    >
      Main Microphone Operator during the livestream on YouTube and Facebook "<i>Io non rischio</i>" by the italian civil protection
    </TimeLineElement>
    <TimeLineElement
      title="Sound Engineer and Boom Operator"
      subtitle="February 2021 to March 2021 at ITS Roberto Rossellini, Rome, Italy"
    >
      Managed audio recording and miking of actors for the school trailer
    </TimeLineElement>
    <TimeLineElement
      title="Freelance Sound Engineer"
      subtitle="March 2022 to Present at SP Solution, Rome, Italy"
    >
      I work under the Cooperative as one of their technician for events in all Rome, working with multiple service like:
      Digital Partner, Mondialtecnica, Tecnoconference Europe, Tecnoconference Group etc..
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a>Italian (native)</a>
    </li>
    <li>
      <a>English</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Sound</li>
    <li>PC hardware</li>
    <li>Multiple OS</li>
    <li>Programming</li>
    <li>Video operator</li>
    <li>Cameraman</li>
    <li>Electricity</li>
    <li>Video editing</li>
    <li>Adobe</li>
  </ul>
</BaseLayout>
